Repository leonyork/xk6-output-timestream: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, golangci-lint, nixfmt, check-with-statix

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        pass_filenames: false
        entry: go mod tidy
        stages:
          - pre-commit
      - id: prettier
        name: Formatting with prettier
        language: system
        pass_filenames: false
        entry: prettier --write .
        stages:
          - pre-commit
      - id: shfmt
        name: Formatting shell scripts
        language: system
        pass_filenames: false
        entry: shfmt -w --binary-next-line .
        stages:
          - pre-commit
      - id: hadolint
        name: Linting Dockerfiles
        entry: hadolint
        types: [dockerfile]
        language: system
        require_serial: true
        pass_filenames: true
        stages:
          - pre-commit
      - id: markdownlint-cli2
        name: Lint Markdown
        entry: markdownlint-cli2 --fix
        types: [markdown]
        language: system
        pass_filenames: true
        stages:
          - pre-commit
      - id: golangci-lint
        name: golangci-lint
        description: Lint Golang code
        entry: golangci-lint run --fix
        types: [go]
        language: system
        pass_filenames: false
        stages:
          - pre-commit
      - id: nixfmt
        name: nixfmt
        description: Format nix code with nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        stages:
          - pre-commit
      - id: check-with-statix
        name: Run statix
        description: statix is a nix static analyzer
        language: system
        entry: statix check
        files: \.nix$
        pass_filenames: false
        stages:
          - pre-commit
      - id: editorconfig
        name: Run editorconfig check
        language: system
        entry: editorconfig-checker
        pass_filenames: false
        stages:
          - pre-commit

ci: fix multiarch build
  .github/workflows/build-test-tag.yaml
Due: none

ci: fix test step of GHA
  .github/workflows/build-test-tag.yaml
Due: none

ci: allow auto ubuntu upgrades
  renovate.json
Due: none

fix: grafana min interval
  grafana/dashboards/loadtest/loadtest.json
Due: none

ci(renovate): disable nix updates
  renovate.json
Due: none

ci: re-enable nix auto-updates
  renovate.json
Due: none

docs: fix non-descriptive link
  docs/Alternatives.md
Due: markdownlint-cli2

ci: work with latest xk6 version
  Makefile
Due: none

ci: fix codespaces
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/flake.lock
  .devcontainer/flake.nix
  .devcontainer/tools.default.nix
  .devcontainer/tools.default.sh
  .devcontainer/tools.sh
  .vscode/extensions.json
  flake.nix
  nix.conf
Due: nixfmt, check-with-statix

ci: devcontainer fixes
  .devcontainer/devcontainer.json
Due: none

ci: add back aws and history state
  .devcontainer/devcontainer.json
Due: none

ci: remove renovate from dev tooling
  dependencies.nix
Due: nixfmt, check-with-statix

docs: remove devcontainer customise shell instructions
  README.md
Due: markdownlint-cli2

ci: auto-merge checkout action updates
  renovate.json
Due: none

ci: auto-merge aws actions updates
  renovate.json
Due: none

ci: fix multiarch Docker build
  .github/workflows/build-test-tag.yaml
Due: none

chore(deps): upgrade grafana to 12.3.3
  grafana/Dockerfile
  grafana/Makefile
Due: none

chore(deps): upgrade go toolchain to 1.25.5
  go.mod
Due: none

chore(deps): update k6 to v2.0.0
  Dockerfile
  Makefile
  dependencies.nix
  flake.nix
  go.mod
  go.sum
  output.go
  output_test.go
Due: golangci-lint, nixfmt, check-with-statix

chore(deps): update nix node deps
  dependencies.nix
Due: nixfmt, check-with-statix

fix(deps): fixes for breaking changes in grafana v13
  grafana/Dockerfile
  grafana/Makefile
Due: none
